<div class="navbar navbar-default">
</div>
<div class="container roboto">
  <div class="row">
    <div class="col">
      <div *ngFor="let action of actions">
        <app-actions [action]="action"></app-actions>
      </div>
      <p class="spartan"><label for="id" class="roboto">CTID:</label> {{deviceProfile.ctids[0]}}</p>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">ID</span>
        </div>
        <input type="text" class="form-control" placeholder="ID" id="id" [(ngModel)]="id">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Email</span>
        </div>
        <input type="text" class="form-control" placeholder="Email" id="email" [(ngModel)]="email">
      </div>


      <div class="d-flex mt-4">
        <button class="mr-2 btn btn-sm btn-primary" (click)="onUserLogin()">OnUserLogin</button>
        <button class="mx-2 btn btn-sm btn-warning" (click)="profilePush()">Profile Push</button>
        <!-- <button class="mx-2 btn btn-sm btn-warning" (click)="expression">Relaunch</button>
          <button class="mx-2 btn btn-sm btn-danger">Reinstall</button> -->
      </div>

      <div class="d-flex mt-4">
        <button class="btn btn-sm btn-danger" (click)="changeDevice()">Change Device</button>
      </div>
    </div>
    <div class="col">
      <div *ngFor="let profile of platformProfiles; let i=index">
        <h5 class="spartan">Profile {{i+1}}</h5>
        <p>
          <label for="">CTID: </label>
          <span *ngFor="let ctid of profile.ctids; let i=index" class="spartan">
            <span *ngIf="i>0">,</span> {{ctid}}</span>
        </p>
        <p>
          <label for="">Email: </label>
          <span *ngFor="let email of profile.emails; let j=index" class="spartan">
            <span *ngIf="j>0">,</span> {{email}}</span>
        </p>
        <p>
          <label for="">ID: </label>
          <span *ngFor="let id of profile.ids; let k=index" class="spartan">
            <span *ngIf="k>0">,</span> {{id}}</span>
        </p>
        <hr>
      </div>
    </div>
  </div>
</div>
